
h1{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding-left: 8%;
    padding-top:2%;
}
.content{
    padding-top: 5%;
    font-size: larger;
    font-weight:bold;
    padding-left: 5%;
    font
}
.main ul li{
    padding-top:3%;
    padding-left:5%;
    font-size: large;
    font-weight: 300;

 }
  .m{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image:url('p1.jpg');
   height:100vh;
}
  
